* {
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  background: none;
}

.app {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
}

.app > input[type="text"] {
  padding: 5px;
}

.app>input[type="password"] {
  padding: 5px;
}

.app > button {
  margin: 20px;
}